nav {
	display: inline;
	width: 60px;
	position: left;
}

.board {
    width: 320px;
}
.box {
    height: 100px;
    width: 100px;
    float: left;
    background-color: lightgray;
    border: 1px solid black;
    margin: 3px;
    font-size: 68pt;
    text-align: center;
}
#row1 {
	float: left;
	clear: both;
}
#row2 {
	float: left;
	clear: both;
}
#row3 {
	float: left;
	clear: both;
}
.xcolor {
	background-color: #417C81;
	color: #68979B;
}
.ocolor {
	background-color: #D49C6A;
	color: #FFD2AA;
}